<footer role="contentinfo" id="piv_piedPage">
  <div class="footerSite site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
  
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
                {{ site.title | escape }}
              </li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <p>{{- site.description | escape -}}</p>
        </div>
      </div>
  </div>
  <div class="pivFooter" class="clearfix">
      <div class="contenu contenu-fixe">
      <div id="personnaliser">
          <!-- Zone personnalisable. Exemple: lien de pied de page -->
          <ul id="navFooter">
              <li>
                  <a href="plan-du-site/">Plan du site</a>
              </li>
              <li>
                  <a href="accessibilite/">Accessibilité</a>
              </li>
              <li>
                  <a href="nous-joindre/">Nous joindre</a>
              </li>
              <li class="last">
                  <a href="politique-de-confidentialite/">Politique de confidentialité</a>
              </li>
          </ul>
          <!-- Fin de Zone personnalisable. -->
      </div>
      <div id="logo">
          <a href="#" target="_blank">
              <!--Changer la source de l'image pour votre signature gouvernementale-->
              <!--Modifiez le ALT en conséquence.-->
              <img src="{{site.baseurl}}/assets/res_site/piv/QUEBEC_couleur.svg" alt="Logo du gouvernement du Québec." height="50px">
          </a>
      </div>
      <div id="credits">
          <small><a href="http://www.droitauteur.gouv.qc.ca/copyright.php" target="_blank">© Gouvernement du Québec, {{ site.time | date: '%Y' }}</a></small>
      </div>
  </div>
  </div>
  
</footer>
