<style>
  .footer-basic {
    padding:40px 0;
    background-color:#223654;
    color:white;
    text-decoration: none;
    
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:16px;
    margin-bottom:0;
    text-align: center;
    
  }
  
  .footer-basic li {
    padding:0 10px;
    display: inline-block;
    
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    text-decoration: underline;
    color: #1685e1;
    zoom: 105%;
  }
  
  .footer-basic .head {
   text-align: center;
    margin-top:0;
    margin-bottom:44px;
    font-weight:600;
    font-size:22px;
  }
  
  
  </style>
  <div class="footer-basic">
    <footer>
        <h1 class = "head">Centre d'Expertise Appliquée en Innovation du CQEN</h1>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.quebec.ca/" >Gouvernement du Québec</a></li>
            <li class="list-inline-item"><a href="https://www.quebec.ca/gouvernement/ministere/cybersecurite-numerique">Ministère de la Cybersécurité et du Numérique</a></li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/nous-joindre">Nous joindre </a></li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/plan-du-site">Plan du site</a></li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/a-propos-de-nous">À propos de nous</a></li>
        </ul>
    </footer>
  </div>
<footer role="contentinfo" id="piv_piedPage">
  <!--<div class="footerSite site-footer h-card">-->
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
  
      <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->
  
      <!-- <div class="footer-col-wrapper"> 
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">
                {{ site.title | escape }}
              </li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-2">
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <p>{{- site.description | escape -}}</p>
        </div>-->
      </div>
  </div>
  <div class="pivFooter" class="clearfix">
      <div class="contenu contenu-fixe">
      <div id="personnaliser">
          <!-- Zone personnalisable. Exemple: lien de pied de page -->
          <ul id="navFooter">
              <!--<li> 
                  <a href="plan-du-site/">Plan du site</a>
              </li>
              <li>
                  <a href="accessibilite/">Accessibilité</a>
              </li>-->
              <!--<li>
                  <a href="mailto:cqen.lab.innovation@mcn.gouv.qc.ca">Nous joindre</a>
              </li>-->
              <!-- <li class="last"> 
                  <a href="politique-de-confidentialite/">Politique de confidentialité</a>
              </li>-->
          </ul>
          <!-- Fin de Zone personnalisable. -->
      </div>
      <div id="logo">
          <a href="#" target="_blank">
              <!--Changer la source de l'image pour votre signature gouvernementale-->
              <!--Modifiez le ALT en conséquence.-->
              <img src="{{site.baseurl}}/assets/piv/QUEBEC_couleur.svg" alt="Logo du gouvernement du Québec." height="50px">
          </a>
      </div>
      <div id="credits">
          <small><a href="http://www.droitauteur.gouv.qc.ca/copyright.php" target="_blank">© Gouvernement du Québec, {{ site.time | date: '%Y' }}</a></small>
      </div>
  </div>
  </div>
  
</footer>
