<header class="site-header" role="banner">
  <div class="contenu-fluide piv">
    <div class="contenu-fixe">
         <div class="ligne">
            <div class="d-flex align-items-center">
                    <a href="#contenu" class="visuallyHidden" tabindex="1">Passer au contenu</a>
            </div>
        </div>
        <div class="ligne" id="entetePiv">
            <div class="d-flex align-items-center zone1">
                <a tabindex="5" href="{{ "/" | relative_url }}"><img id="pivImage" alt="Logo du gouvernement du Québec." src="{{site.baseurl}}/assets/piv/QUEBEC_blanc.svg" width="256" height="72"></a>
                <!--<img id="pivImage" alt="Logo du gouvernement du Québec." src="{{site.baseurl}}/assets/piv//QUEBEC_couleur.svg" width="256" height="72"></a>-->
            </div>
            <div class="d-flex align-items-center zone2" lang="fr">
                <div class="identite desktop" >{{ site.title | escape }}</div>
            </div>
            <div class="d-flex justify-content-end align-items-center zone3">
                  <!-- <a tabindex="10" id="lienOuvre" href="#recherchePiv"> 
                    <img class="loupeRecherche" id="lienOuvreImage" alt="Bouton pour ouvrir la recherche." src="{{site.baseurl}}/assets/piv/recherche.svg" width="35" height="35">
                    <<img class="loupeRecherche" id="lienOuvreImage" alt="Bouton pour ouvrir la recherche." src="{{site.baseurl}}/assets/piv//recherchen.svg" width="35" height="35">
                 </a> -->

                <div class="zoneMenu">
                    <div class="toggle_btn">
                        <span></span>
                    </div>
                    <div class="menu_mobile nav">
                        <div class="menu_mobile--site mobile">
                            <ul>
                            {%- include list-items.html -%}
                            </ul>
                        </div>
                        <!-- <div class="menu_mobile--piv"> 
                            <a href="#" lang="en" tabindex="20">English</a>
                            <a href="#" tabindex="25">Nous joindre</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="entetePiv--titreMobile">
            <div class="titreM mobile">
                <p>{{site.title}}</p>
            </div>
        </div>
        
    </div>
</div>
</header>

<!--Script Menu Mobile-->
<script>
      var btn = document.querySelector('.toggle_btn');
      var nav = document.querySelector('.nav');

      btn.onclick = function() {
          nav.classList.toggle('nav_open');
          btn.classList.toggle('toggle_btn_open');
      }
</script>