<header class="site-header" role="banner">

  <a href="{{ "/" | relative_url }}">
    <img class="nav-logo" src="{{site.baseurl}}/assets/res_site/logo.ico">
  </a>

  <div class="header-title">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <div class="trigger">
            {{ my_page.title | escape }}
        </div>
  </div>

  <div class="nav-paths">
    <ul class="horizontal-list nav-links">
        <li><a href="{{ "/about" | relative_url }}">About</a></li>
        <li>•</li>
        <li><a target="_blank" href="{{ "https://console-openshift-console.apps.exp.lab.pocquebec.org/k8s/cluster/projects" }}">Openshift</a></li>
        <li>•</li>
        <li><a target="_blank" href="{{ "https://signin.aws.amazon.com/signin?redirect_uri=https%3A%2F%2Fconsole.aws.amazon.com%2Fconsole%2Fhome%3Ffromtb%3Dtrue%26hashArgs%3D%2523%26isauthcode%3Dtrue%26nc2%3Dh_ct%26src%3Dheader-signin%26state%3DhashArgsFromTB_us-east-1_d83036dc0b67a70f&client_id=arn%3Aaws%3Asignin%3A%3A%3Aconsole%2Fcanvas&forceMobileApp=0&code_challenge=jtSay0BHhccgFK9bPujO6T4MeOS33_6oLVMSWqcfjQc&code_challenge_method=SHA-256" | relative_url }}">AWS</a></li>
    </ul>
  </div>
  
</header>
