<!--Header de particles-->
<header>
    <div class="title-container">
        <div class="index-title">
            <h1>
                {{site.title}} (CEAI)
            </h1>
            <br>
            Le CEAI vise à promouvoir l’utilisation d’une approche de développement 
            de services basée sur l’exploration et l’expérimentation dans l'écosystème gouvernemental
        </div>
        <!-- particles.js container --> 
        <div id="particles-js">
        </div>
    </div>
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> 
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
    <script src="assets/scripts/particles.js"></script>
</header>