/**
 *  variables
 */
$home-icon-color:#0957979c;
$sidebar-column-bg: #252f3e;
$home-text-color: #072b49;

/**
 * Site header
 */
.site-header {
  align-items:center;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 1000;
}

.nav-logo {
  padding-left: 10px;
  padding-right: 10px;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}
/**
 * Universal content
**/
.div-page {
  width: 100%;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.page-container {
  width:100%;
}

.post {
  width:100%;
  margin-left: 10%;
  margin-right: 10%;
  @media screen and (max-width: $desktop) {
    width: 90%;
  }
}

.sidebar-column {
  min-width:120px;
  width: 15%;
  padding: 2% 3% 5% 3%;
  background-color: $sidebar-column-bg;
  color: #9b9b9b;
  font-size: 1.25em;

  @media screen and (max-width: $desktop) {
    display:none;
  }

  ul {
    list-style-type:none;
    margin:0;
  }
  a {
    color:#7289d9;
  }
}
$content-width: 75vw;

.home-wrapper {
  max-width: -webkit-calc(#{$content-width});
  max-width:         calc(#{$content-width});
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}


.home-container {
  @extend .home-wrapper;
  display:flex;
  flex-direction: column;
  align-items: center;
}

a.row-container {
    text-decoration: inherit;
    color: $home-text-color;
}

.row-container {
  @extend .grow;
  margin: 20px 0px 20px 0px;
  display:flex;
  flex-direction: row;
  align-items: center;
  border: solid $home-icon-color 4px;
  border-radius: 15px;
  padding:5px;
  justify-content: space-between;
  min-height: 200px;
  color: $home-text-color;

  h1 {
    margin-top : 0;
  }

  ul {
    list-style-type: none;
    margin: 15px;
    text-decoration: none;
  }
}

.icon-container {
  display:block;
  width:7vw;
  margin:5%;
  font-size: 7vw;
  text-align: center;
  color:$home-icon-color;
}

.text-container-right {
  text-align: left;
  margin: 0px 10px 10px 10px;
}

.text-container-left {
  text-align: right;
  margin: 10px 10px 10px 20px;
}


.index-description {
  padding: 2em;
  background-color: #325da8;
  color:white;
  border-left: solid 50px $sidebar-column-bg;
}

.portal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.portal-cell {
  height: 250px;
  width: 250px;
  text-align: center;
}
.portal-img {
  display:block;
  width: 200px;
  height: 200px;
  margin:auto;
  margin-bottom: 10px;
}
.title-container {
  display:grid;
  max-height: 1200px;
}

.index-title {
  grid-area: 1 / 1;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  z-index: 10;
  width: 50%;
  background: none;
  margin: 5% 5% 5% 15%;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.nav-paths {
  display: block;
  flex-grow: 1;
}

.nav-links {
  float:right;
  margin:0;
  margin-right:5px;
}



/**
 * Site footer
 */
.site-footer {
  padding: 35px 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
#breadcrumbs {
  margin: 20px;
  display: block;
}

.page-content {
  max-width: 100%;
  min-height: 100vh;
  padding-bottom: $spacing-unit;
  flex: 1;
  line-height: initial;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light; 
}

.particle-container{
  height:100%;
  width: 100%;
  background-color: #095797;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit * 0.75;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  h1 {
    @include relative-font-size(2.25)
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
