canvas {
  max-height: 1200px;
}

/* ---- particles.js container ---- */ 
#particles-js{ 
    grid-area: 1 / 1;
    background-color: #095797; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
