---
layout: default
---
<h1>{{page.title}}</h1>
{{content}}
<br><br>
<div class="portal-container">

  <div class="portal-cell grow">
    <a target="_blank" rel="noopener noreferrer" href="https://cqen.awsapps.com/start#/">
      <img class="portal-img" src="{{site.baseurl}}/assets/amazon-web-services.svg">
    </a>
    <button type="button" class="collapsible">Console AWS</button>
    <div class="content">
      <p>Accéder à la console d'Amazon Web Services.</p>
    </div>
  </div>

  <div class="portal-cell grow">
    <a target="_blank" rel="noopener noreferrer" href="https://console-openshift-console.apps.dev.openshift.cqen.ca/">
      <img class="portal-img" src="{{site.baseurl}}/assets/red-hat.svg">
    </a>
    <button type="button" class="collapsible">Portail Openshift</button>
    <div class="content">
      <p>Accéder au portail openshift.</p>
    </div>
  </div>

  <div class="portal-cell grow">
    <a target="_blank" rel="noopener noreferrer" href="https://quay-quay-openshift-operators.apps.dev.openshift.cqen.ca/repository/">
      <img class="portal-img" src="{{site.baseurl}}/assets/quay.svg">
    </a>
    <button type="button" class="collapsible">Quay</button>
    <div class="content">
      <p>Accéder à la console Quay.</p>
    </div>
  </div>

  <div class="portal-cell grow">
    <a target="_blank" rel="noopener noreferrer" href="https://codeready-openshift-workspaces.apps.dev.openshift.cqen.ca/dashboard/">
      <img class="portal-img" src="{{site.baseurl}}/assets/openshift.svg">
    </a>
    <button type="button" class="collapsible">CodeReady</button>
    <div class="content">
      <p>Accéder à la console CodeReady</p>
    </div>
  </div>

</div>
</div>
<script src="{{site.baseurl}}/assets/scripts/collapsible.js"></script>