---
layout: default
---
<h1>{{page.title}}</h1>
{{content}}
<br><br>
<div class="portal-container">
  <div class="portal-cell grow">
    <a href="#">
      <img class="portal-img" src="{{site.baseurl}}/assets/amazon-web-services.svg">
    </a>
    <button type="button" class="collapsible">Console AWS</button>
    <div class="content">
      <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="portal-cell grow">
    <a href="#">
      <img class="portal-img" src="{{site.baseurl}}/assets/openshift.svg">
    </a>
    <button type="button" class="collapsible">Portail Openshift</button>
    <div class="content">
      <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
</div>
<script src="{{site.baseurl}}/assets/scripts/collapsible.js"></script>