<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {%- include particles.html -%}

    <div class="index-description">
      <h1> Commencez à innover dès maintenant! </h1>
      <h3>
        Ce portail est votre point d’entrée vers l’environnement d’innovation du CEAI. 
        Choisissez parmi les services offerts ce qui correspond à ce que vous souhaitez réaliser. 
      </h3>
      <div class="portal-container">
          <div class="portal-cell grow">
            <img class="portal-img" src="{{site.baseurl}}/assets/amazon-web-services.svg">
            Console AWS
          </div>
          <div class="portal-cell grow">
            <img class="portal-img" src="{{site.baseurl}}/assets/openshift.svg">
            Portail Openshift
          </div>
      </div>
    </div>
    <div class="div-page">
      <!--{%- include sidebar-column.html -%}-->
      <main class="page-content" aria-label="Content">
        {{ content }}

        <div class="home-container">

          <div class="row-container">
            <div class="icon-container">
              <i class="fas fa-flask"></i>
            </div>
            <span class=text-container-right>
              <h1>Démarrer une expérimentation</h1>
              Vous voulez démarrer une expérimentation? Vous cherchez par où commencer? 
              Le CEAI vous permet de démarrer rapidement un laboratoire avec tous les 
              environnements, toutes les infrastructures et tout l’accompagnement dont vous aurez besoin.
              <ul>
                <li><h3><a href="#">Vous voulez faire une expérimentation?</a></h3></li>
              </ul>
            </span>
          </div>

          <div class="row-container">
            <span class="text-container-left">
              <h1>Coffre à outils</h1>
              Vous savez ce que vous voulez faire. Ce que vous cherchez, ce sont les outils pour le faire. 
              Le CEAI vous offre un coffre à outils simple et efficace vous permettant de réaliser vos expérimentations. 
              <ul>
                <li><h3><a href="#">Le coffre à outils du CEAI</a></h3></li>
              </ul>
            </span>
            <div class="icon-container">
              <i class="fas fa-toolbox"></i>
            </div>
          </div>

          <div class="row-container">
            <div class="icon-container">
              <i class="fas fa-cogs"></i>
            </div>
            <span class=text-container-right>
              <h1>Services spécialisés </h1>
              Vous voulez développer vos compétences dans divers domaines innovants? 
              Les services spécialisés offerts par le CEAI vous permettent de 
              perfectionner vos connaissances en :
              <ul>
                <li><h3><a href="#">Intelligence artificielle</a></h3></li>
                <li><h3><a href="#">Chaine de blocs</a></h3></li>
                <li><h3><a href="#">Logiciel libre</a></h3></li>
                <li><h3><a href="#">API</a></h3></li>
              </ul>
            </span>
          </div>

          <div class="row-container">
            <span class="text-container-left">
              <h1>Besoin d’accompagnement</h1>
              Quelles sont les phases nécessaires à l’expérimentation? 
              Pourquoi l’outil ne semble pas fonctionner?  
              Comment ajouter un membre à mon équipe d’expérimentation? 
              Toutes des questions que vous vous poserez à un moment ou à un autre. 
              Le CEAI veut vous simplifier la vie en vous offrant une documentation 
              et une expertise de manière simple et efficace. 
              <ul>
                <li><h3><a href="{{site.baseurl}}/documentation">Documentation</a></h3></li>
                <li><h3><a href="#">Centre de dépannage</a></h3></li>
              </ul>
            </span>
            <div class="icon-container">
              <i class="fas fa-handshake"></i>
            </div>
          </div>

          <div class="row-container">
            <div class="icon-container">
              <i class="fas fa-cubes"></i>
            </div>
            <span class=text-container-right>
              <h1>Réalisations </h1>
              Parfois, la meilleure façon d’innover est de s’appuyer 
              sur les travaux de nos pairs et de les faire évoluer. 
              Vous pouvez consulter les divers laboratoires qui ont 
              été réalisés dans l’environnement d’innovation du CEAI et vous en inspirer. 
              <ul>
                <li><h3><a href="#">Index des laboratoires </a></h3></li>
              </ul>
            </span>
          </div>

        </div>
          
            <!--affichage de tous les posts
            {%- if site.posts.size > 0 -%}
              <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
              <br>
              <ul class="post-list">
                {%- for post in site.posts -%}
                <li>
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h3>
                  <span class="post-meta">
                    {{ post.date | date: date_format }}
                    {{ post.excerpt }}
                  </span>
                </li>
                {%- endfor -%}
              </ul>
          
            {%- endif -%}-->
      </main>
    </div>


    {%- include footer.html -%}

  </body>

</html>