<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <style>
.testt{
  text-align: center;
  background-color: white;
}
.first-title{
  font-weight: 650;
}
.sub-title{
  font-weight: 500;
}


    </style>
  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {%- include particles.html -%}

    <!--<div class="index-description">
      <h1> Commencez à innover dès maintenant! </h1>
      <h3>
        Ce portail est votre point d’entrée vers l’environnement d’innovation du CEAI. 
        Choisissez parmi les services offerts ce qui correspond à ce que vous souhaitez réaliser. 
      </h3>
    </div>-->
    <div class="testt">
      <h1 class="first-title">POUR NOUS JOINDRE</h1>
      <div class="list-1">
          <ul class="contact-list" >
            <li class="list-item"><a href="https://www.google.ca/maps/place/875+Grande+All%C3%A9e+E,+Qu%C3%A9bec,+QC+G1R+4Y8/@46.8081594,-71.2149624,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb895d9c1a67c5b:0x7d61fbcde950d5c4!8m2!3d46.8081594!4d-71.2127737"><i class="tailleXL fas fa-map-marker-alt"></i> 875, Grande Allée Est, 4e étage, secteur 400 Québec (Québec) G1R 5R8</a></li>
        </ul>
      </div>
      <div class="list-2">
          <ul class="contact-list">      
            <li class="list-item"><a href="tel:418 643-0875 " ><i class="tailleXL fa fa-phone"></i> 418 643-0875</a></li>
                            
        </ul>
      </div>
      <div class="list-3">
          <ul class="contact-list">
            <li class="list-item"><a href="mailto:cqen.lab.innovation@mcn.gouv.qc.ca" ><i class="tailleXL fa fa-envelope-square"></i> cqen.lab.innovation@mcn.gouv.qc.ca</a></li>
            
        </ul>
      </div>
      
  </div>


    {%- include footer.html -%}

  </body>

</html>